@font-face {
  font-family: 'tex_gyre_heros';
  src: url("../fonts/texgyreheros-bold-webfont.woff") format("woff"), url("../fonts/texgyreheros-bold-webfont.ttf") format("truetype"), url("texgyreheros-bold-webfont.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_heros';
  src: url("../fonts/texgyreheros-regular-webfont.woff") format("woff"), url("../fonts/texgyreheros-regular-webfont.ttf") format("truetype"), url("../fonts/texgyreheros-regular-webfont.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #ededed;
  font-family: "Helvetica Neue", "tex_gyre_heros", Arial, sans-serif;
  font-size: 16px;
}

h1,
h2 {
  margin: 0;
}

button {
  margin: 0;
  overflow: visible;
  -webkit-appearance: button;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button::-moz-focusring {
  outline: 1px dotted ButtonText;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: initial;
}

fieldset {
  border: none;
  margin-left: 0;
}

input[type="text"]::-webkit-input-placeholder {
  font-size: 18px;
  color: #ededed;
}

input[type="text"]::-moz-placeholder {
  font-size: 18px;
  color: #ededed;
}

input[type="text"]:-ms-input-placeholder {
  font-size: 18px;
  color: #ededed;
}

input[type="text"]:-moz-placeholder {
  font-size: 18px;
  color: #ededed;
  opacity: 1;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin-top: -8px;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  background-color: white;
  margin-left: -2px;
  cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  background-color: white;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background-color: white;
}

input[type="range"]:focus::-ms-fill-lower {
  background-color: white;
}

input[type="range"]::-ms-fill-upper {
  background-color: white;
}

input[type="range"]:focus::-ms-fill-upper {
  background-color: white;
}

img {
  width: 100%;
  display: block;
}

.generator {
  width: 640px;
  margin: 0 auto;
  background-color: white;
}

.generator * {
  box-sizing: border-box;
}

.generator__title {
  font-size: 43px;
  font-weight: 500;
  text-align: center;
  color: #333333;
}

.generator__caption {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.generator__button {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background-color: #333333;
  font-weight: 500;
  color: white;
}

.generator__button--light {
  background-color: white;
  color: #333333;
}

.generator__header {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.generator__preview {
  width: 100%;
  height: 300px;
  padding: 20px 50px;
  background-color: #333333;
}

.generator__canvas {
  width: 538px;
  height: 303px;
  border: 5px solid #ededed;
  border-radius: 3px;
  background-image: linear-gradient(45deg, #ededed 25%, transparent 25%), linear-gradient(-45deg, #ededed 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ededed 75%), linear-gradient(-45deg, transparent 75%, #ededed 75%);
  background-color: white;
  background-position: 0 0, 0 15px, 15px -15px, -15px 0px;
  background-size: 30px 30px;
}

.generator__canvas--add-background-image {
  background-image: url("../img/landscape-glenn.jpg");
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}

.generator__controls {
  width: 100%;
  margin-top: 75px;
  padding-bottom: 30px;
}

.generator__fieldset {
  width: 100%;
  padding: 20px 50px;
}

.generator__fieldset--disabled {
  opacity: 0.15;
}

.generator__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333333;
}

.generator__input--image {
  border: 5px dashed #ededed;
  padding: 12px 15px;
}

.generator__input--range {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ededed;
  overflow: hidden;
}

.generator__input--text {
  padding: 12px 15px;
  border: 5px solid #ededed;
}

.generator__label {
  padding: 5px 10px;
  background-color: #333333;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}

.generator__directions {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.generator__footer {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  background-color: #e6e6e6;
  text-align: center;
}

.grid {
  width: 1200px;
  margin: 15px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.grid__card {
  width: 100%;
  text-decoration: none;
}

.grid__title {
  display: block;
  padding: 8px 25px;
  background-color: #333333;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.js-sortable-item {
  position: relative;
}

.js-sortable-remove {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
  background-image: url("../img/icons/icon-close.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.js-sortable-ghost > * {
  color: #333333;
  border-color: #333333;
  background-color: #333333;
}
