doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TheBlaze – Day-of-Air Graphics Generator
    meta(name="description", content="A client-side application for TV producers that generates screen graphics.")
    meta(name="author", content="Max Giron")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
      
  body
    .generator
      header.generator__header
        h1.generator__title Create your graphic
      section.generator__preview
        h2.generator__caption Preview
        canvas.generator__canvas(width="1280" height="720" data-template="courtesy")
      section.generator__controls
        fieldset.generator__fieldset
          label.generator__directions Add a courtesy to your graphic.
          input.js-add-courtesy.generator__input.generator__input--text(type="text" placeholder="Type a courtesy here.")
          button.generator__button(type="button") Add Courtesy
        fieldset.generator__fieldset.generator__fieldset--disabled
          label.generator__directions Name your graphic and download.
          input.js-file-name.generator__input.generator__input--text(type="text" placeholder="Type a file name here." disabled)
          button.generator__button(type="button" disabled) Download File
  script(src="js/file-saver.min.js")
  script(src="js/generator.js")
