doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TheBlaze – Day-of-Air Graphics Generator
    meta(name="description", content="A client-side application for TV producers that generates on-air screen graphics using HTML5 Canvas.")
    meta(name="author", content="Max Giron")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
      
  body
    .grid
      a.grid__card(href="courtesy-only.html")
        h1.grid__title Courtesy Only
        img(src="img/demos/demo-courtesy-only.jpg")
      a.grid__card(href="fs_landscape.html")
        h1.grid__title Fullscreen Landscape
        img(src="img/demos/demo-fs-landscape.jpg")
      a.grid__card(href="fs_portrait.html")
        h1.grid__title Fullscreen Portrait
        img(src="img/demos/demo-fs-portrait.jpg")
      a.grid__card(href="fs_article.html")
        h1.grid__title Fullscreen Article
        img(src="img/demos/demo-fs-article.jpg")
      a.grid__card(href="fs_no-crop.html")
        h1.grid__title Fullscreen No-Crop
        img(src="img/demos/demo-fs-no-crop.jpg")
      a.grid__card(href="fs_side-by-side.html")
        h1.grid__title Fullscreen Side-by-side
        img(src="img/demos/demo-fs-sbs.jpg")
      a.grid__card(href="l3_gradient.html")
        h1.grid__title Lower Thirds with Gradient
        img(src="img/demos/demo-l3-gradient.jpg")
      a.grid__card(href="l3_phoner.html")
        h1.grid__title Lower Thirds with Phoner
        img(src="img/demos/demo-l3-phoner.jpg")
