doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TheBlaze – Day-of-Air Graphics Generator
    meta(name="description", content="A client-side application for TV producers that generates screen graphics.")
    meta(name="author", content="Max Giron")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
      
  body
    .grid
      .grid__card
        a(href="index.html")
          img(src="img/demos/demo-portrait.jpg")
    .grid
      .grid__card
        a(href="lower-thirds-v1.html")
          img(src="img/demos/demo-lower-thirds-v1.jpg")
      .grid__card
        a(href="lower-thirds-v2.html")
          img(src="img/demos/demo-lower-thirds-v2.jpg")
      .grid__card
        a(href="lower-thirds-v3.html")
          img(src="img/demos/demo-lower-thirds-v3.jpg")
      .grid__card
        a(href="lower-thirds-v4.html")
          img(src="img/demos/demo-lower-thirds-v4.jpg")
      .grid__card
        a(href="lower-thirds-v5.html")
          img(src="img/demos/demo-lower-thirds-v5.jpg")
      .grid__card
        a(href="lower-thirds-v6.html")
          img(src="img/demos/demo-lower-thirds-v6.jpg")
      .grid__card
        a(href="lower-thirds-v7.html")
          img(src="img/demos/demo-lower-thirds-v7.jpg")
      .grid__card
        a(href="lower-thirds-v8.html")
          img(src="img/demos/demo-lower-thirds-v8.jpg")
