doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TheBlaze – Day-of-Air Graphics Generator
    meta(name="description", content="A client-side application for TV producers that generates on-air screen graphics using HTML5 Canvas.")
    meta(name="author", content="Max Giron")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
      
  body
    .nav
      a.nav__button(href="l3_gradient.html") Erase Changes
      a.nav__button(href="index.html") Back to Templates
    .generator
      header.generator__header
        h1.generator__title Create your graphic
      section.generator__preview
        h2.generator__caption Preview
        canvas#jsGeneratorCanvas.generator__canvas(width="1280" height="720" data-template="l3_gradient")
      section.generator__controls
        fieldset.generator__fieldset.generator__fieldset
          span.generator__directions Upload a portrait-oriented photo. It's optional.
          input(type="file" accept=".jpg, .jpeg, .png" style="display: none")
          span.generator__input.generator__input--image No file uploaded yet.
          button.generator__button(type="button" onclick="generate.presets.l3GradientImage(this)") Choose Image
        fieldset.generator__fieldset
          span.generator__directions Drag and re-order, or remove text as needed.
          #jsSortable
            .js-sortable-item
              span.generator__label Heading
              input.generator__input.generator__input--text(type="text" placeholder="Type large text here..." data-font-size="50" data-font-weight="800")
              span.js-sortable-move
              span.js-sortable-remove
            .js-sortable-item
              span.generator__label Subheading
              input.generator__input.generator__input--text(type="text" placeholder="Type small text here..." data-font-size="40" data-font-weight="400")
              span.js-sortable-move
              span.js-sortable-remove
            .js-sortable-item
              span.generator__label Subheading
              input.generator__input.generator__input--text(type="text" placeholder="Type small text here..." data-font-size="40" data-font-weight="400")
              span.js-sortable-move
              span.js-sortable-remove
          button.generator__button(type="button" onclick="generate.presets.l3GradientText(this)") Add Text Group
        fieldset.generator__fieldset
          span.generator__directions Name your file. All files save as .png.
          input.generator__input.generator__input--text(type="text" placeholder="Type a file name here.")
          button.generator__button(type="button" onclick="generate.download(this)") Download File
  script(src="js/font-detect.js")
  script(src="js/canvas-to-blob.min.js")
  script(src="js/file-saver.min.js")
  script(src="js/Sortable.min.js")
  script(src="js/generator.js")
