doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TheBlaze – Day-of-Air Graphics Generator
    meta(name="description", content="A client-side application for TV producers that generates on-air screen graphics using HTML5 Canvas.")
    meta(name="author", content="Max Giron")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(rel="icon", type="image/png", href="images/favicon.png")
      
  body
    a.nav__button(href="index.html") Back to Templates
    .generator
      header.generator__header
        h1.generator__title Create your graphic
      section.generator__preview
        h2.generator__caption Preview
        canvas#jsGeneratorCanvas.generator__canvas(width="1280" height="720" data-template="l3_phoner")
      section.generator__controls
        fieldset.generator__fieldset.generator__fieldset
          span.generator__directions Upload a portrait-oriented photo. It's optional.
          input(type="file" accept=".jpg, .jpeg, .png" style="display: none")
          span.generator__input.generator__input--image No file uploaded yet.
          button.generator__button(type="button" onclick="generator.l3_phoner(this)") Choose Image
        fieldset.generator__fieldset
          span.generator__directions Add phoner's name and their description.
          span.generator__label Name
          input.generator__input.generator__input--text(type="text" placeholder="Example: John Smith" data-font-size="43" data-font-weight="800")
          span.generator__label Description
          input.generator__input.generator__input--text(type="text" placeholder="Example: Admiral of New England" data-font-size="33" data-font-weight="400")
          button.generator__button(type="button" onclick="generator.l3_phoner(this)") Add Text Group
        fieldset.generator__fieldset
          span.generator__directions Choose a different label for your phoner, if needed.
          .generator__selection
            input#OnthePhone(type="radio" name="phoner-status" value="On the Phone" checked)
            label(for="OnthePhone") On the Phone
            input#VoiceOf(type="radio" name="phoner-status" value="Voice of")
            label(for="VoiceOf") Voice of
          button.generator__button(type="button" onclick="generator.l3_phoner_label(this)") Update Label
        fieldset.generator__fieldset.generator__fieldset--disabled
          span.generator__directions Name your file. All files save as .png.
          input.generator__input.generator__input--text(type="text" placeholder="Example: L3-PHONER_John-Smith" disabled)
          button.generator__button(type="button" onclick="generator.download(this)" disabled) Download File
  script(src="js/font-detect.js")
  script(src="js/canvas-to-blob.min.js")
  script(src="js/file-saver.min.js")
  script(src="js/Sortable.min.js")
  script(src="js/generator.js")
