extends ../templates/_generator.pug

block data
	- var pageTitle = "fs_portrait"

block controls
	fieldset.generator__fieldset
		span.generator__directions Upload a portrait-oriented or square photo.
		input(type="file" accept=".jpg, .jpeg, .png" style="display: none")
		span.generator__input.generator__input--image No file uploaded yet.
		button.generator__button(type="button" onclick="generate.presets.portrait(this)") Choose Image
	fieldset.generator__fieldset.generator__fieldset--disabled
		span.generator__directions Add a courtesy to your graphic. It's optional.
		input.generator__input.generator__input--text(type="text" placeholder="Type a courtesy here." disabled)
		button.generator__button(type="button" onclick="generate.presets.courtesy(this)" disabled) Add Courtesy
	fieldset.generator__fieldset.generator__fieldset--disabled
		span.generator__directions Name your file. All files save as .png.
		input.generator__input.generator__input--text(type="text" placeholder="Type a file name here." disabled)
		button.generator__button(type="button" onclick="generate.download(this)" disabled) Download File
