extends ../templates/_generator.pug

block data
	- var pageTitle = "fs_side-by-side"

block controls
	fieldset.generator__fieldset
		span.generator__directions Upload left portrait-oriented photo.
		input(type="file" accept=".jpg, .jpeg, .png" style="display: none")
		span.generator__input.generator__input--image No file uploaded yet.
		button.generator__button(type="button" onclick="generate.presets.sideBySide(this)" data-fs-side="left") Choose Image
	fieldset.generator__fieldset
		span.generator__directions Upload right portrait-oriented photo.
		input(type="file" accept=".jpg, .jpeg, .png" style="display: none")
		span.generator__input.generator__input--image No file uploaded yet.
		button.generator__button(type="button" onclick="generate.presets.sideBySide(this)" data-fs-side="right") Choose Image
	fieldset.generator__fieldset.generator__fieldset--disabled
		span.generator__directions Name your file. All files save as .png.
		input.generator__input.generator__input--text(type="text" placeholder="Type a file name here." disabled)
		button.generator__button(type="button" onclick="generate.download(this)" disabled) Download File
